{% extends 'base.html' %}

{% block content %}
    <h1>Listado de Ventas</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.cliente }}</td>
                <td>{{ venta.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
