{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
      window.onload = function() {
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {
    components: [
                        {
                    "label": "Cliente",
                    "widget": "choicesjs",
                    "tableView": true,
                    "validate": {
                        "required": true
                    },
                    "dataSrc": "url",
                    "data": {
                        "url": "http://localhost:8000/api/clientes/",
                        "headers": [
                            {
                                "key": "",
                                "value": ""
                            }
                        ]
                    },
                    "valueProperty": "cliente_id",
                    "dataType": "Object",
                    "template": '{% verbatim %} {{item.cliente_id}} - {{ item.nombre }} {% endverbatim %}',
                    "key": "cliente",
                    "defaultValue": "",
                    "type": "select",
                    "selectValues": "results",
                    "input": true
                },

         {
            "label": "Medicamentos",
            "reorder": false,
            "addAnotherPosition": "bottom",
            "layoutFixed": true,
            "enableRowGroups": false,
            "initEmpty": false,
            "tableView": true,
            "defaultValue": [
                {
                    "select": "",
                    "producto": "",
                    "precio": "",
                    "textField": "",
                    "cantidad": "",
                    "precioTotal": "",
                    "precioUnitario": "",
                    "especial": false
                }
            ],
            "key": "detalles_venta",
            "type": "datagrid",
            "addAnother": "Agregar otro",
            "input": true,
            "components": [
                {
                    "label": "Medicamento:",
                    "widget": "choicesjs",
                    "tableView": true,
                    "validate": {
                        "required": true
                    },
                    "dataSrc": "url",
                    "data": {
                        "url": "http://localhost:8000/api/medicamentos/",
                        "headers": [
                            {
                                "key": "",
                                "value": ""
                            }
                        ]
                    },
                    "dataType": "Object",
                    "template": '{% verbatim %} {{item.medicamento_id}} {{ item.nombre }} {% endverbatim %}',
                    "key": "producto",
                    "type": "select",
                    "selectValues": "results",
                    "input": true
                },
                {
                    "label": "Cantidad",
                    "applyMaskOn": "change",
                    "tableView": true,
                    "validate": {
                        "required": true
                    },
                    "key": "cantidad",
                    "type": "textfield",
                    "input": true
                },
                {
                    "label": "Precio Unitario",
                    "validate": {
                        "required": true
                    },
                    "disabled": true,
                    "refreshOn": "data",
                    "tableView": true,
                    "key": "precioUnitario",
                    "type": "number",
                    "calculateValue": "value = '0';console.log(row.producto);try{value = row.producto.precio_venta}catch(error){value='0'}",
                    "input": true
                },
                {
                    "label": "Subtotal",
                    "validate": {
                        "required": true
                    },
                    "applyMaskOn": "change",
                    "tableView": true,
                    "key": "precioTotal",
                    "type": "number",
                    "input": true,
                    "calculateValue": "try{value = row.cantidad * row.precioUnitario}catch(error){value=''}"
                }
            ]
        },
            {
                "label": "Precio Total",
                "mask": false,
                "refreshOn": "data",
                "inputFormat": "plain",
                "key": "total",
                "type": "number",
                "input": true,
                "calculateValue": "try{value = data.detalles_venta.reduce(function(total, row) {return total + row.precioTotal;}, 0);}catch(error){value = ''}"
        },
          {
            "label": "+ Registrar venta",
            "action": "event",
            "event": "evento-enviar-form",
            "showValidations": true,
            "disableOnInvalid": true,
            "tableView": false,
            "key": "submit",
            "type": "button",
            "input": true
        }
    ]
}).then(function(form) {
  form.on('evento-enviar-form', function(submission) {
    var json = JSON.stringify(form.data);
    document.getElementById('guardar_json_txt').value = json;
    document.getElementById('btn_aceptar_form').click();
    for (var i = 0; i < submission.data.detalles_venta.length; i++) {
        var medicamento_id = submission.data.detalles_venta[i].medicamento.medicamento_id;
        var cantidad = submission.data.detalles_venta[i].cantidad;
        var url = "http://localhost:8000/api/medicamentos/" + medicamento_id + "/";
        fetch(url)
            .then(response => response.json())
            .then(data => {
                var stock = data.stock;
                var new_stock = stock - cantidad;
                var put_url = url;
                var put_data = {
                    "nombre": data.nombre,
                    "descripcion": data.descripcion,
                    "precio_venta": data.precio_venta,
                    "precio_compra": data.precio_compra,
                    "stock": new_stock,
                    "laboratorio": data.laboratorio,
                    "categoria": data.categoria,
                    "presentacion": data.presentacion,
                    "imagen": data.imagen,
                    "activo": data.activo
                };
                fetch(put_url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(put_data)
                })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch(error => console.log(error));
            })
            .catch(error => console.log(error));
    }
  });
});
    document.getElementById('form-django').action = "{% url 'crear_venta_post' %}";
};
    </script>
    <div class="col-sm">
        <h2>Crear nueva Venta</h2>
        <form id="formio"></form>
        {% include "form.generic.html" %}
    </div>
    <br>
    <br>

 
{% endblock %}


