
{% extends "base.html" %}

{% block content %}


<div class="container mt-2">
    <h1 class="text-center text-dark">Listado de Medicamentos</h1>
    <div style="margin: 10px;">
        <a href="{% url 'medicamento_create' %}" class="btn btn-success"><i class="fas fa-plus"></i> Agregar</a> 
    </div>
    <div class="highlight p-2 mb-1 bg-light rounded">
      <form method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar medicamento..." aria-label="Buscar">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Buscar</button>
      </form>
    </div>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <table class="table table-striped" style="table-layout: fixed; width: 100%;">
          <thead >
            <tr>
              <th style="width: 34%;">Codigo</th>
              <th style="width: 33%;">Nombre</th>
              <th style="width: 34%;">descripcion</th>
              <th style="width: 34%;">stock</th>
              <th style="width: 34%;">Precio/Compra</th>
              <th style="width: 34%;">Precio/Venta</th>
              <th style="width: 34%;">Fecha Exp.</th>
              <th style="width: 34%;" class="imagen-reducida">Img</th>
              <th style="width: 34%;">Laboratorio</th>
              <th style="width: 34%;">Categoria</th>
              <th style="width: 34%;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for medicamento in medicamentos %}
              <tr>
                <td>{{ medicamento.medicamento_id }}</td>
                <td>{{ medicamento.nombre }}</td>
                <td>{{ medicamento.descripcion }}</td>
                <td>{{ medicamento.stock }}</td>
                <td>{{ medicamento.precio_compra }}</td>
                <td>{{ medicamento.precio_venta }}</td>
                <td>{{ medicamento.fecha_expiracion }}</td>
                    <td> {% if medicamento.imagen %}
                    <a href="#" class="image-link">
                        <img src="{{ medicamento.imagen.url }}" class="img-thumbnail" style="max-width: 50px;">
                    </a>
                  {% else %}
                      <p>No hay imagen disponible</p>
                  {% endif %}
                </td>
                <td>{{ medicamento.laboratorio }}</td>
                <td>{{ medicamento.categoria }}</td>
                <td>
                  <a href="{% url 'medicamento_update' medicamento.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                  <a href="{% url 'medicamento_delete' medicamento.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
  
  </div>
{% endblock %}
